package pages

import "github.com/JulOuellet/blurred-app/internal/domains/championships"
import "github.com/JulOuellet/blurred-app/internal/domains/sports"
import "github.com/JulOuellet/blurred-app/internal/domains/seasons"
import "github.com/JulOuellet/blurred-app/internal/domains/events"
import "github.com/JulOuellet/blurred-app/templates/components/breadcrumbs"
import "github.com/JulOuellet/blurred-app/templates/components/cards"
import "github.com/JulOuellet/blurred-app/templates/layouts"

templ ChampionshipPage(
	championship *championships.ChampionshipModel,
	sport *sports.SportModel,
	season *seasons.SeasonModel,
	events []events.EventModel,
) {
	@layouts.Base(championship.Name) {
		<div class="p-5 md:p-10">
			@breadcrumbs.Breadcrumb([]breadcrumbs.BreadcrumbItem{
				{Label: sport.Name, URL: "", IsActive: false},
				{Label: season.Name, URL: "/seasons/" + season.ID.String(), IsActive: false},
				{Label: championship.Name, URL: "", IsActive: true},
			})
			for _, event := range events {
				@cards.EventCard(event)
			}
		</div>
	}
}
