package pages

import "github.com/JulOuellet/sportlight/templates/layouts"

templ Home() {
	@layouts.Base("SportLight") {
		<div class="bg-yellow-500 p-4 text-black">
			<h1 class="text-3xl font-bold">This should be yellow with black text</h1>
		</div>
	}
}
