package pages

import "github.com/JulOuellet/sportlight/templates/layouts"

templ Home() {
	@layouts.Base("SportLight") {
		<body>
			<h1 class="text-3xl font-bold underline">Hello world!</h1>
		</body>
	}
}
