package sidebars

import "github.com/JulOuellet/blurred-app/internal/domains/sports"

templ Sidebar(sportsList []sports.SportWithSeasons) {
	<div class="flex h-screen flex-col justify-between bg-white">
		<div class="px-4 py-6">
			<a href="/" class="place-content-center text-5xl font-bold text-gray-900 cursor-pointer">
				Blurred
			</a>
			<ul class="mt-6 space-y-1">
				<div id="sports-list">
					@SportsList(sportsList)
				</div>
			</ul>
		</div>
	</div>
}
