package sidebars

import "github.com/JulOuellet/blurred-app/internal/domains/sports"

templ SportsList(sportsList []sports.SportWithSeasons) {
	for _, sport := range sportsList {
		<li>
			@SportItem(sport.Name, sport.Seasons)
		</li>
	}
}
